@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: poppins, sans-serif;
    text-decoration: none;
}
body {
    overflow-x: hidden;
}
.cabeçalho {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}
.embrulho {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i {
    height: 45px;
    width: 45px;
    background-color: blue;
    font-family: 'Black Ops One', Arial, Helvetica, sans-serif;
    border-radius: 50%;
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-text {
    font-size: 24px;
    font-weight: 500;
    color: white;
}
nav .menu {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .menu span {
    display: block;
    background-color: blue;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}
nav .navlinks {
    list-style-type: none;
}
nav .navlinks li {
    display: inline-block;
}
nav .navlinks li a{
    color: white;
    margin-right: 2.5rem;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.container  .image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #444;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.325);
}
.image img {
    width: 100%;
    height: 100%;
    transition: 1s;
}
.image img:hover {
    transform: scale(1.2);
}

.text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.text h5 {
    color: white;
    font-size: 14px;
}
.text h5 span {
    color: blue;
    font-size: 16px;
}
.text h1 {
    color: blue;
    font-size: 3rem;
}
.text p {
    color: white;
}
.btn-group {
    margin: 45px 0px;
}
.btn-group .btn {
    border-color: white;
    color: white;
    background-color: #333;
    padding: 12px 15px;
    margin: 5px 0px;
    margin-right: 10px;
    border-radius: 30px;
    border: 2px solid white;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.312);
}
.btn.active {
    border-color: blue;
}
.social i {
    color: white;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}
.social i:hover {
    color: blue;
    transform: rotate(360deg);
}

/* Parte de PROJETOS */

#projetos {
    background-color: #333;
}

#projetos h2 {
    text-align: center;
    font-family: 'Black Ops One', Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 20px;
    font-weight: 300;
    font-size: 3rem;
}
.proj {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0px auto;
}
.proj {
    border-radius: 20px;
    padding-bottom: 20px;
}
.pro img {
    width: 300px;
    height: 175px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.249);
}
.pro:hover img{
    background-color: #222;
    transition-duration: 0.7s;
    scale: 1.03;
}
.pro p {
    color: white;
    text-align: center;
}

/* Parte de HABILIDADES */

#habilidades {
    background-color: #222;
}
#habilidades h2 {
    text-align: center;
    color: white;
    padding-top: 50px;
    font-family: 'Black Ops One', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 3rem;
}
#habilidades .itens {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    
}
.itens .logo {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.273);
    border-radius: 20px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.itens .logo img {
    width: 100px;
    height: 100px;
}

.logo:hover img{
    scale: 1.1;
    transition-duration: 0.8s;
}

/* RODAPÉ */

#footer {
    width: 100%;
    background-color: #333;
}
.footer-cont{
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px;
}
.footer-cont p {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.1rem;
}

.footer-cont .social {
    text-align: center;
    padding: 10px;
}
.footer-cont .social i{
    color: white;
    font-size: 22px;
    margin-right: 10px;
    transition: 0.5s;
}
.footer-cont .social i:hover{
    color: blue;
    transform: rotate(360deg);
}


/* Design responsivo e navegação para telas pequenas */

@media(max-width: 800px) {
    nav .menu {
        display: initial;
    }
    /* Para o botão de alternar */

    .click{
        top: 45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child {
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks::-webkit-scrollbar {
        display: none;
    }
    nav .navlinks {
        position: fixed;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 50%;
        height: 50vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px #222;
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open {
        right: 0;
    }
    
}

@media(max-width: 980px) {
    .container {
        flex-direction: column;
        padding-top: 2rem;
    }
    .container .proj{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container .itens{
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .text {
        padding: 40px 0px;
    }

}